html {
  font-family: sans-serif;
}

body {
  font-size: 120%;
  line-height: 1.5;
  margin-bottom: 2rem;
}

header, main, footer {
  margin: 0 auto;
  max-width: 37rem;
}

body > header img {
  max-width: 40%;
}

body > header {
  margin-top: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0;
}

main {
  text-align: justify;
}

body > footer {
  font-size: 90%;
  margin-top: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
